/*   */

table{

background-color: rgb(135, 165, 127);
}

tr{

    background-color: rgb(209, 182, 142);
}

a.1{

text-decoration: none;
color: rgb(0, 0, 0);
background-color: rgb(207, 176, 98);
}
img{

width:1330px;

}

body.test{

background-color: white;

}

h2{
max-width: fit-content;
background-color: rgb(230, 187, 147);
color: rgb(85, 56, 12);
border-radius: 50%;
margin-left: 37%;

}
hr{
    width: 80%;
}

h1.test1{

color: rgb(13, 53, 25);

}
h3{

color: rgb(18, 70, 33);

}
img.test4
{
 margin-left: 20%;
    width: 60%;
}
pre>a.test5{

text-decoration: none;
color: aliceblue;
}